#about
  background no-repeat center/cover
  font-size 0.6875rem
  line-height 1.5
  padding 2rem 1.5rem 0

  h2
    font-size 1rem
    margin 0 0 .25rem

  p
    margin 0
    text-indent 2em

    + h2
      margin: 1em 0 .25em -.6875em;

  img
    width 50%