#about
  background no-repeat center/cover
  font-size 0.6875rem
  line-height 1.5

  article
    flex 1 1
    margin-top 3rem
    padding 0 1.5rem 1.5rem
    overflow scroll
    -webkit-overflow-scrolling touch

  h2
    font-size 0.9375rem
    margin 0 0 .25rem

  p
    margin 0
    text-indent 2em

    + h2
      margin: 1em 0 .25em -.6875em;
