#home
  display flex
  flex-direction column

  img
    display block

  i
    color white

  header
    position fixed
    top 11vw
    left 10vw
    width $logo-width

    img
      display block
      width 100%

  div
    flex 1 1
    display flex
    justify-content center
    align-items center

    img
      width 86.5625vw
      margin 18vw 0 0 1.4375vw

  footer img
    margin 0 auto 4.5vw
    width 90.9375vw

  &.slideUp
    transition all .4s