#ip100
  color white

  article
    flex 1 1
    display flex
    flex-direction column
    justify-content center
    align-items center

  h2
    font-size 2rem
    margin 0 0 1em
    text-align center

  ul
    margin 0
    padding 0 4em

  li
    list-style none
    font-style italic

    + li
      margin-top .5em

    for n in 1..10
      &:nth-child({n})
        animation-delay .2s * n

  p
    text-align: center;
    font-size: 1.3125rem;
    transform: rotate(-3deg);
    font-style: italic;
    margin: 1em 0 0;