#ip100
  color white

  article
    flex 1 1
    display flex
    flex-direction column
    justify-content flex-start
    align-items center

  h2
    font-size 2rem
    margin 2em 0 .5em
    text-align center

    span
      color $red

  ul
    margin 0
    padding 0 3em 0 4em

  li
    display none
    font-size 1.25rem
    font-weight bold
    line-height 1.75
    list-style none

    for n in 1..10
      &:nth-child({n})
        animation-delay .2s * n

    &.animated
      display list-item

  p
    display none
    text-align: center;
    font-size: 1.5rem;
    transform: rotate(-3deg);
    font-style: italic
    font-weight 500
    margin: .75em 0 0
    padding-left 2.5em
    text-indent -5em

    &.animated
      display block

  @media (max-width 320px)
    &
      h2
        font-size 1.6875rem
        margin 1.5em 0 .4em

      p
        margin-top .5em