#nav
  color white
  padding 20vh 10vw 0

  h2
    font-size 1.75rem
    width 80vw

  ul
    margin 0
    padding-left 0

  li
    font-size .9375rem
    line-height 2.5rem
    position relative
    text-indent .5em
    border-left 5px solid $red
    list-style none
    display none

    + li
      margin-top .5em

    &::after
      background-color: rgba(0,0,0,.2);
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index -1

    for n in 1..6
      &:nth-child({n})
        animation-delay .2s * (n - 1)

    &.animated
      display list-item

    @media (min-width 360px) and (max-width 374px)
      &
        font-size 1.25rem
        line-height 2

    @media (min-width 375px)
      &
        font-size 1.35rem
        line-height 2