@import "../../node_modules/animate.css/source/sliding_entrances/slideInUp.css"

.container
  background no-repeat center/cover
  display flex
  flex-direction column
  transition all .4s
  z-index 100

  &.in
    transform translate3d(0,0,0)

  &.out
    transform translate3d(0,100%,0)

  footer
    padding .5rem 0