@import "../wukong/css/preloader.css"

#loading
  background url(../img/bg.jpg) no-repeat center/cover
  display flex
  justify-content center
  align-items center
  position absolute
  z-index 0

  &.ready
    justify-content flex-start

  header img
    margin 11vw auto 0
    width 79.21875vw

#progress
  color white
  font-size 2em
  padding .5rem .75rem
  background rgba(255,255,255,.4)

#player
  font-size .75rem

  &.disabled::after
    transform translate3d(.6em,-1.6em,0) rotate(-45deg)