@import "../wukong/css/preloader.css"

#loading
  background url(../img/bg.jpg) no-repeat center/cover
  display flex
  justify-content center
  align-items center
  z-index 40

  &.ready
    justify-content flex-start

  header img
    margin 11vw auto 0
    width 48.4375vw

#progress
  color white
  font-size 2em
  padding .5rem .75rem
  background rgba(255,255,255,.4)