@import "core/_variable.styl"
@import "core/_global.styl"

// animation
@import "../node_modules/animate.css/source/_base.css"
@import "../node_modules/animate.css/source/fading_entrances/fadeInUp.css"
@import "../node_modules/animate.css/source/fading_entrances/fadeInRight.css"
@import "../node_modules/animate.css/source/fading_exits/fadeOutUp.css"
@import "../node_modules/animate.css/source/sliding_entrances/slideInDown.css"
@import "../node_modules/animate.css/source/sliding_entrances/slideInUp.css"
@import "../node_modules/animate.css/source/zooming_entrances/zoomInDown.css"
@import "animation/_animation.styl"
@import "animation/_float.styl"

// component
@import "component/_container.styl"
@import "component/_button.styl"

// framework
@import "framwork/_body.styl"

// view
@import "views/_homepage.styl"
@import "views/_nav.styl"
@import "views/_about.styl"
@import "views/_ip100.styl"
@import "views/_invitation.styl"
@import "views/_portfolio.styl"